<% if record.errors.any?%>
  <div class = "validation-errors">
    <p>The following errors occured:</p>
    <ul>
      <% record.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>