<div class="maincontent">
  <ol>
    <% links.each do |link| %>
      <li class = "main-link">
        <%= render "links/link", :link => link %> 
     </li>
    <% end %>
  </ol>
  <% unless @user %>
  <%= paginate links %>
  <% end %>
</div>