
  <div class="maincontent">
    <ol>
      <% @links.each do |link| %>
        <li>
          <%= link_to("#{link.title}", link.link_url) %>
          <p class="link-details"><%= time_ago_in_words link.created_at %> ago</p>
       </li>
      <% end %>
    </ol>
  </div>

