<div class = "maincontent">
  <div class = "main-link">
    <%= render "link", :link => @link %>
  </div>
  <%= render "comments/form", :comment => @comment %>
  <%= render "comments/list", :comments => @link.comments %>
</div>
