// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-form {
  textarea {
    width: 85%;
  }

  input[type=submit] {
    left: 74%;
  }
}

.maincontent {
  .comment-list {
    li {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    li:first-child {
      padding-top: 15px;
    }
  }
}

.comment-details {
  font-size: 12px;
}

.comment-main {
  padding: 10px;
}

.nested_comments {
  margin-left: 30px;
}