// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.maincontent{
  border:1px solid #000;
  border-radius: 5px;
  background-color: #FDDBCE;
  padding-left: 25px;

  .main-link {
      padding-top: 15px;
      padding-bottom: 15px;

      a{
        color:#000;
      }

      span {
        font-size :11px
      }

      li{
        list-style: none;
      }
  }

  .link-details {
    padding-top: 5px;
    font-size: 11px
  }

  ol{
    list-style: decimal;
    padding-left: 15px;

    li{
      padding-top: 15px;
      padding-bottom: 15px;

      a{
        color:#000;
      }

      span {
        font-size :11px
      }
    }
  }

  .vote {
    width: 13px;
  }

  .tags {

    margin: 5px;

    a {
      font-size: 15px;
    }
  }

}




